.footer-list {

  margin: .75em;

  & ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0;
    padding: 0;
    @media (orientation: portrait) {
      flex-direction: column;
    }

    & li {
      list-style: none;
      margin: 0 .5em;
      padding: 0;
      width: auto;
      font-size: .75em !important;
      @media (orientation: portrait) {
        margin: .5em;
      }
    }

    .very-small {
      @media (orientation: portrait) {
        font-size: .5em !important;
      }
    }
  }
}

body > footer {
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: 1fr;
  width: 100%;
  z-index: 60;
  margin: 0 auto;
}

.hide-small {
  @media (orientation: portrait) {
    display: none;
  }
}

