#ExplorersLog {

  * aside {
    display: flex;
    flex-direction: row;
    column-gap: 1.5em;

    svg {
      width: 20%;
    }
  }
}

@media (orientation: portrait) {
  #ExplorersLog {
    * aside {
      flex-direction: column;
      align-items: center;

      img, svg {
        width: 50%;
        margin-bottom: 1em;
      }
    }
  }
}
